body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 16px 0;
  border: none;
  box-sizing: border-box;
  box-shadow: 1px -1px 18px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px -1px 18px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px -1px 18px 1px rgba(255, 255, 255, 0.75);
  transition-duration: 0.5s;
}
/* When the input field gets focus, change its width to 100% */
input[type="text"]:focus {
  border-radius: 20px;
}
.header {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  /* https://stackoverflow.com/questions/4561097/css-box-shadow-bottom-only */
  box-shadow: 0 4px 2px -2px gray;
}
h1 {
  font-size: 50px;
}
#goals {
  font-size: 13px;
}
span.remove-goal {
  margin-left: 1rem;
  color: red;
}
.remove-goal:hover {
  cursor: pointer;
}
.quote {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Georgia', serif;
  font-size: 1.2em; /* Slightly smaller font */
  font-style: italic;
  color: #555;
  border-left: 3px solid #007ACC; /* Thinner border */
  padding: 8px 12px; /* Reduced padding */
  background-color: #fafafa; /* Subtler background color */
  position: relative;
}

.quote::before {
  content: '“';
  font-size: 2em; /* Slightly smaller quotes */
  color: #007ACC;
  position: absolute;
  left: -8px;
  top: -5px;
}

.quote::after {
  content: '”';
  font-size: 2em;
  color: #007ACC;
  position: absolute;
  right: -8px;
  bottom: -5px;
}
