body {
  background-color: black;
  color: white;
  background-image: url(../logoGray.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px 0px white;
  -webkit-box-shadow: 0px 0px 15px 0px white;
  -moz-box-shadow: 0px 0px 15px 0px white;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  background-color: black;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px white;
  z-index: 1;
}

td {
  color: white;
}

th {
  color: black;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.analysis {
  background-color: black;
  border-radius: 20px;
  width: 50%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  box-shadow: white 0px 0px 15px;
  padding: 20px;
  box-shadow: 0px 0px 15px 0px white;
  -webkit-box-shadow: 0px 0px 15px 0px white;
  -moz-box-shadow: 0px 0px 15px 0px white;
}

.analysis h1 {
  font-size: 40px;
  margin-top: 2rem;
}
.analysis h4 {
  font-size: 15px;
}
